<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body>
    <h2>wellocome <%=user.name%></h2>
    <p><%=user.email%></p>
    <a href="/user/logout">Logout</a>
    <a href="/user/user-resetpassword">Reset Password</a>

    
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

        <%- include("./partials/noty_flash");-%>

</body>
</html>