<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Login</title>
        <script  src="https://kit.fontawesome.com/b3348ae33f.js"crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <header>
            <h2 class="logo soumen">Logo</h2>
            <nav class="navigation">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Service</a>
                <a href="#wraper">Contact</a>
                <button class="btnlogin-popup">Login</button>
            </nav>
        </header>
    
        <div class="wraper">
            <!-- <span class="icon-close"><i class="fa-solid fa-xmark"></i></span> -->
            
            <!-- ------------user signin form------------- -->
            <div class="form-box login">
                <h2>Login</h2>
                <form id="signin-form"  action="/user/login_data" method="post">
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                        <input type="email" name="email" placeholder="Enter your email" required >
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" name="password" placeholder="Enter your password" required>
                        <label>Password</label>
                    </div>
                    <div class="remember-forget">
                        <label><input type="checkbox" name="remember">Remember me</label>
                        <a href="#">Forget password</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>Don't have an account? <a href="#" class="registr-link">Register</a></p>
                    </div>
                    <div ><p id="output"></p></div>
                </form>
            </div>

            <!-- -----------user registation form----------// -->
            <div class="form-box register">
                <h2>Registation</h2>
                <form id="signup-form"  action="/user/registation" method="post">
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-user"></i></span>
                        <input type="text" name="name" placeholder="Enter your name" required >
                        <label>Name</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                        <input type="email" name="email" placeholder="Enter your email" required >
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" name="password" placeholder="Enter your password" required >
                        <label>Password</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" name="confirm_password" placeholder="Renter password" required>
                        <label>Confirm Password</label>
                    </div>
                    <div class="remember-forget">
                        <label><input type="checkbox" name="remember" required>I agree to the terms & conditions</label>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <div class="login-register">
                        <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                    </div>
                    <div ><p id="output"></p></div>
                </form>
            </div>
        </div>
        <script src="/jsmin/jquery-3.7.0.min.js"></script>
        <script src="/jsmin/login.js"></script>
    </body>
    </html>

