<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script  src="https://kit.fontawesome.com/b3348ae33f.js"crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/cssmin/resetpassword.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

</head>
<body>
    <div class="wraper">

        <div class="form-box password">
            <h2>New Password Set</h2>
            <form id="reset-password-form"  action="/user/new-password-set/<%=token%>" method="post">
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-lock"></i></i></span>
                    <input type="password" name="password" placeholder="Enter your new password" required >
                    <label>New Password</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="confirm_password" placeholder="Renter your new password" required >
                    <label>Re-enter new Password</label>
                </div>
            
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

        <%- include("./partials/noty_flash");-%>
    
</body>
</html>